:root {
  --main-color: #0b0b0b;
  --accent: #cf242a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  display: flex;
}

.logo a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
  font-size: 25px;
}

.nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  color: var(--accent);
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 10px;
}

.links {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin-top: 5px;
}

.links li {
  height: 100%;
  display: flex;
  align-items: center;
}

.links li a {
  height: 100%;
  cursor: pointer;
  padding: 20px 20px 20px 10px;
}

.links li a {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--accent);
}

.links .active {
  border-bottom: 10px solid var(--accent);
}

.links li a:hover {
  font-weight: bold;
  background-color: var(--accent);
  color: #fff;
}

.content {
  height: calc(100vh - 70px);
  width: 100%;
  display: grid;
  grid-template-columns: 37% 37% 26%;
}

main {
  width: 100%;
  background-color: var(--accent);
  filter: brightness(110%);
  overflow-y: hidden;
  border-radius: 5px;
}

aside {
  color: var(--accent);
  overflow-y: auto;
}

.view {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.top {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top .user {
  display: flex;
  align-items: center;
}

.user span {
  margin-left: 15px;
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}

.top h3 {
  margin-left: 15px;
  text-align: start;
}

.bottom {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: hidden;
}

.orders {
  height: 75%;
  width: 100%;
  overflow-y: auto;
  font-weight: bold;
  color: #fff;
  /* display: inline-block;  */
  text-align: center;
  padding: 0 10px;
  padding-right: 5px;
  font-size: 20px;
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(217, 238, 227);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(9, 54, 9);
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.5em;
  padding: 10px;
  background: rgb(217, 238, 227);
  border-bottom: 1px solid #34495e;
  color: var(--accent);
}

.item img {
  flex: 1;
  padding: 5px;
  width: 80px;
  height: 70px;
  filter: drop-shadow(5px 5px 5px #34495e);
}

.item h2 {
  flex: 1;
}

.item h2:first-of-type {
  padding-left: 40px;
}

.item h2:nth-child(4) {
  flex: 3;
}

.below {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.c_total {
  margin-top: 10px;
  margin-bottom: 10px;
}
.center {
  margin-top: 100px;
  text-align: center;
}
.head {
  padding: 10px;
  color: white;
  background-color: var(--accent);
  position: fixed;
  /* z-index: -99; */
  width: 37%;
}

table {
  table-layout: fixed;
}

.table {
  height: 100%;
}

.tablewrap {
  margin-top: 53px;
  height: 90%;
  overflow-x: hidden;
}

#tbody {
  margin-top: 20px;
}

tr {
  background: var(--accent);
  color: #fff;
  border: none;
  cursor: pointer;
}

td {
  overflow: auto;
  border-right: solid 1px #999;
}

.row td {
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px;
}

.row {
  background: crimson;
}

.row:hover {
  background: #999;
}

.row_open {
  background: crimson;
}

.row_open td {
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.row_open:hover {
  background: rgb(151, 13, 41);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: var(--accent);
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

.rowhead td {
  border: none;
  font-size: 13px;
  height: 20px;
  background: #fff;
  font-weight: bold;
  color: #000;
  cursor: default;
}

.note td {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.dt td {
  font-size: 13px;
  height: 20px;
  background-color: #fff;
  font-weight: bold;
  color: #333;
  cursor: default;
}

.total td {
  padding: 10px 10px;
  background: darkorange;
  color: #fff;
}

.btnedit {
  font-size: 10px;
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(49, 202, 49);
  padding: 8px 8px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.btnmain {
  font-size: 17px;
  padding: 10px 15px;
  width: 250px;
}

.btnedit:hover {
  background: greenyellow;
  color: #000 !important;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.paid {
  font-size: 10px;
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: royalblue;
  padding: 8px 8px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.fas {
  font-size: 15px;
  margin-right: 5px;
}

.paid:hover {
  background: rgb(107, 142, 248);
  color: #000 !important;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
